.root {
    display: flex;
    flex-direction: row;
}

.form {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.form input {
    width: 100%;
    box-sizing: border-box;

}

.form textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    height: 36px;
    max-height: 200px;
}

.form label {
    display: block;
}

.form label:not(:last-child) {
    display: block;
    box-sizing: border-box;
    margin-right: 8px;
}

.priority {
    width: 112px;
}

.name {
    width: 242px;

}

.description {
    flex-grow: 1;
}

.controls {
    display: flex;
    margin-left: 8px;
}

.controls button {
    margin-top: auto;
    margin-bottom: 4px;
}

.sort {
    margin-left: 8px;
    cursor: pointer;
}

.sort-marker {
    display: inline-block;
    width: 10px;
    height: 23px;
}